@import "minireset.css";
/*reset css file importálása*/
@import "buttons.css";
/*gombok formázása*/
@import "grid-skills.css";
/*grid beállítások és skills rész*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');
/*google font*/
@import "buttons.css"; /*gombok formázásai*/
body {
    font-family: "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size: 12pt;
}

nav {
    background: lime;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 500;
}

/*mobile first*/
.brand-logo {
    /*background: #fff;*/
    flex-grow: 1;
}
/*section távtartások alul felül*/
section {
    padding: 50px 0;
}
.wrapper {
    padding: 0 15px;
    background: transparent !important;
}

.row {
    margin: 0 -15px; /**a hordozó paddingját huzz a vissza**/
}

.row > .box {
    /*background: khaki;*/
}

/**címsorok formázása**/
h1 {
    font-family: Arial, sans-serif;
    font-size: 24pt;
    color: #333;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;

}

/*alcímeik*/
h1 > .subtitle {
    color: #ffb32f;
    font-size: 13pt;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: 400;
    display: block;
}

h1 > .subtitle:before,
h1 > .subtitle:after {
    content: '';
    background: lime;
    width: 20px;
    height: 2px;
    overflow: hidden;
    top: 1.5em;
    display: inline-block;
    margin: 5px 25px;
}

/*képek amik elfoglalják a dobozukat*/
img.full-width {
    width: 100%;
}

/*több hasábos elemek*/
.columns-2 {
    column-count: 2;
    column-gap: 2em;
}

.columns-3 {
    column-count: 3;
    column-gap: 2em;
}

/*fejléc sílusok*/
header {
    min-height: 550px;
    background: url('https://picsum.photos/1920/1080') center top no-repeat;
    background-size: cover;
}

.brand-logo img {
    width: 160px;
    margin: 10px 0;
}

.brand-logo a {
    margin: 0 !important;
}

header > nav {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/*sticky változata a menünek*/
header > nav.sticky {
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 600ms ease-in-out;
    z-index: 10000;
}

header > nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0 10px;
    /*margin: 21px 10px;
    display: inline-block;*/
    /*line-height: 2.5em;*/
}

header > nav li:not(.brand-logo) > a:hover {
    color: #ffb32f;
    border-bottom: 2px solid #ffb32f;
}

header > nav.sticky li a {
    color: #333;
}

/*hero fromázása*/
#hero {
    padding-top: 6em;
    color: #fff;
}

#hero h1 {
    color: #fff;
    text-align: start;
    margin: .5em 0 1em;
}

#hero h1 .anim {
    color: #ffb32f;
}

#hero p {
    margin: 1em 0 .5em;
    color: #fff;
}

.hero-subtitle {
    font-size: 20pt;
    font-weight: 100;
    letter-spacing: 0;
}

.light-bg {
    background: #f7f7f7;
}

.box {
    padding: 0 15px;
}

h2 {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.2em;
    margin: 15px auto;
}

p {
    margin: 15px auto;
    color: #818181;
}

/*skills*/
#skills footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 1.3em;
    font-weight: 700;
}

#skills .wrapper > .row {
    display: flex;
    flex-flow: column nowrap;
}

#skills footer .box {
    margin: 30px auto;
}

#skills footer .number {
    margin: 10px auto;
    font-size: 1.6em;
    color: #ffb32f;
}

/*progress bars*/
.skill-percentages > li {
    display: flex;
    flex-flow: column nowrap;
    margin: 15px auto;
}

.skill-percentages label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-transform: uppercase;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-percentages progress,
.skill-percentages progress::-webkit-progress-bar {
    width: 100%;
    color: #ffb32f;
    background: #666666;

}

.skill-percentages progress::-webkit-progress-value {
    background: #ffb32f !important;
}

.skill-percentages progress::-moz-progress-bar {
    background: #ffb32f !important;
}

.skill-percentages progress::-moz-range-progress {
    background: #ffb32f;
}

/*tablet*/
@media screen and (min-width: 768px) {
    #skills .wrapper > .row {
        display: flex;
        flex-flow: row nowrap;
        align-content: space-between;
    }
}

/*desktop*/
@media screen and (min-width: 1200px) {
    .wrapper {
        background: lightblue;
        width: 1200px;
        margin: 0 auto;
    }

    .mainmenu {
        display: flex;
        align-content: center;
        align-items: center;
    }

    /*flex alapú sorok*/
    .row {
        display: flex;
        flex-flow: row nowrap;
    }

    .row > .box {
        /*flex-grow: 1;*/
        flex-basis: 100%;
    }

    #hero p {
        max-width: 60%; /*ez csak desktopra kell*/
    }
}

/*owl fix*/
.owl-next, .owl-prev {
    width: 50px;
    height: 50px;
    background: #ffb32f !important;
    display: inline-block;
    border-radius: 100px !important;
    border: 5px solid rgba(255, 255, 255, 0.3) !important;

}

.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
    font-size: 50px !important;
    color: #fff !important;
    line-height: 30px;
}

.owl-carousel .owl-nav button:focus {
    outline: none !important;
}
/*blog dobozok és belső rész*/
.post {
    /*background: #ddd;*/
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.post > .head > img {
    transform: scale(1.1);
    position:relative;
    transition: transform 500ms ease-in-out;
}
.post:hover > .head > img {
    transform: scale(1.4);
}
.post > .head{
    overflow: hidden;
    margin: -15px;
}
.post .comments {
    position: absolute;
    right: 10px;
    top: 10px;
    background: orange;
    color: #fff;
    padding: 5px 10px;
    z-index: 10;
    border-radius: 40px;
}

.post > .title {
    flex-grow: 1;
    padding-top: 30px;
}
/*hivatkozások*/
.posts a {
    color:#1e283c;
    font-size:18px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0;
}
.posts a:first-letter {
    text-transform: uppercase;
}

.posts a:hover {
    color:orange;
}
/*alsó rész a szerzővel*/
.post > .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    font-weight: 700;
    color: #1e283c;
}

.post > .footer .author {
    background: #1e283c;
    border-radius: 40px;
    padding-right: 15px;
    color: #fff;
    border:1px solid rgba(255,255,255,0.5);
    box-shadow:0 0 3px rgba(0,0,0,0.6) inset;
}

.post > .footer .author img {
    border-radius: 40px;
    vertical-align: middle;
    margin: 3px;
    border:2px solid rgba(255,255,255,0.5);
    box-shadow:0 0 3px rgba(0,0,0,0.6) inset;
}
/*kapcsolat rész*/
.form-grid > label > input,
.form-grid textarea {
    width: 100%;
    margin: 10px 0;
}

.form-grid {
    /*background: deeppink;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

ul.info {
    padding: 15px;
}

button {
    border: none;
}

ul.info b {
    display: block;
    color: #111;
    margin-top: 10px;
}

/*oldal lábléc*/
body > footer {
    text-align: center;
    padding: 30px;
}
/*desktop*/
@media screen and (min-width: 1200px) {
    .wrapper { /*tartalom wrapper desktopra*/
        width: 1200px;
        margin: 0 auto;
    }

    /*DESKTOP navigation*/
    .mainmenu {
        display: inline-flex; /*a flex hordozó inline viselkedést kap*/
        flex-flow: row nowrap;
    }

    .flex-container {
        display: flex;
        flex-flow: row nowrap;
    }

    .flex-container > .box {
        flex: 1 1 50%;
    }

}

/*todo megoldása*/
@media screen and (min-width: 1220px) {
    header .brand-logo img {
        margin: 15px 0 5px;
    }
}

/*desktop alá - contact form*/
@media screen and (min-width: 780px) {
    .contact-form {
        display: flex;
    }

    ul.info {
        /*background: lime;*/
        flex-grow: 1;
    }

    .form-grid {
        flex-grow: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*label cimzések attributumra: for="xxx"*/
    label[for=subject] {
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    label[for=msg] {
        grid-row: 3/4;
        grid-column: 1/-1;
    }
}

.scrollTop {
    position:fixed;
    right:25px;
    bottom:25px;
    background: #1e283c;
    color:#fff;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 30px;
    text-align: center;
    font-weight: 900;
    font-size:20px;
    z-index: 1000;
    line-height: 1.8em;
}